.grid {
  display: grid;
  gap: 3.5rem 3.5rem;
  grid-template-columns: repeat(4, 20% [col-start]);
  justify-items: center;
}

.movieItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
  transition: transform .2s;
  cursor: pointer;
}

.movieItem:hover {
  transform: scale(1.1);
}

.movieImg {
  width: 80%;
  height: 65%;
}

.movieTitle {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0 0;
}

.movie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50rem;
  margin: 0 10rem;
}

.moviePoster {
  width: 60rem;
  height: 80%;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 0 3rem;
  height: 100%;
}

.movieInfoTitle {
  font-size: 3.5rem;
  margin: 0 0 2rem 0;
}

.movieInfoYear {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.movieInfoDescription {
  font-size: 2rem; 
}